@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$midnight-blue: #0C1F3A;
$primary-blue: #163560;
$secondary-blue: #254673;
$accent-blue: #2B4C79;
$light-blue: #436491;
$white: #FFFFFF;
$subtle-white: rgba(255, 255, 255, 0.02);
$orange: #F0AD4E;
$green: #0DC10D;

@mixin setSize($width, $height) {
    width: $width;
    height: $height;
}

@mixin setTextStyle($color, $weight, $size, $lineHeight) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
}

@mixin addTopOutline() {
    box-shadow: inset 0 1px 0 0 $accent-blue;
}

@mixin addBottomOutline() {
    box-shadow: inset 0 -1px 0 0 $accent-blue;
}

@mixin addTopLeftOutline() {
    box-shadow: inset 1px 1px 0  $accent-blue;
}

@mixin addOutline() {
    box-shadow: inset 0 0 0 1px $accent-blue;
}

@mixin createBullet($color) {
    width: 0.5rem;
    height: 0.5rem;
    background-color: $color;
    border-radius: 50%;
}

@mixin flexContainer($direction: row, $justify: flex-start, $align: stretch, $gap: normal normal) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}